<template name="bikehome">


<div id="page">
    <div id="header">
        <!-- start of header -->
        <ul>
            <li class="current"><a href="/bikehome">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/events">events</a></li>
            <li><a href="/gallery">gallery</a></li>
            <li><a href="/blog">blog</a></li>
            <li><a href="/rdetails">Members</a></li>
        </ul>
        <div> <a href="/register" class="join"></a>
            <h3>PROIN AC EUISMOD MI</h3>
            <p>Suspe disse vitae diam</p>
        </div>
    </div>
    <!-- end of header -->
    <div id="body">
        <div id="main">
            <h2>Aenean tincidunt sgittis libero, quis sagittis tortor consequat sed aecenas luctus ultricies mauris</h2>
            <div class="featured">
                <!-- start of featured -->
                <a href="#"><img src="/home-biker.jpg"  width="270" height="180" alt=""></a> <a href="#"><img src="/home-bikers.jpg" width="270" height="180" alt=""></a>
                <p> This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. </p>
                <p>Looking for more templates? Just browse through all our Free Website Templates and find what you&acute;re looking for. But if you don&acute;t find any website template you can use, you can try our Free Web Design service and tell us all about it.</p>
            </div>
            <!-- end of featured -->
            <div class="section" >
                <!-- srtart of gallery and article section -->
                <div id="gallery">
                    <h3>Photo Gallery</h3>
                    <ul>
                        <li><a href="#"><img src="/home-biker-thumbnail.jpg" width="125" height="80" alt=""></a></li>
                        <li><a href="#"><img src="/home-boys.jpg" width="125" height="80" alt=""></a></li>
                        <li><a href="#"><img src="/home-girls.jpg" width="125" height="80" alt=""></a></li>
                        <li><a href="#"><img src="/home-family.jpg" width="125" height="80" alt=""></a></li>
                    </ul>
                    <a class="more" href="#">View more &#187;</a> </div>
                <div id="events">
                    <h3>Events</h3>
                    <ul>
                        <li>Aenean at risus quam, et semper nunc. Sed mollis arcu at augue facilisis a congue turpis</li>
                        <li>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac</li>
                        <li class="last">Duis dui enim, gravida at hendrerit id, molestie eget quam. Phasellus posuere nunc vitae ipsum aliquam et lobortis</li>
                    </ul>
                    <a class="more" href="#">Read more &raquo;</a> </div>
            </div>
            <!-- end of gallery and article section -->
        </div>
        <div id="sidebar">
            <!-- start of sidebar -->
            <ul>
                <li>
                    <h3><a href="#">Proin sollicitudin dignissim ligula sed vestibulum.</a></h3>
                    <p>Vestibulum sed magna eu justo tempor facilisis sed ut felis. Ut vitae tortor neque, convallis lobortis enim.</p>
                </li>
                <li>
                    <h3><a href="#"> Quisque purus nisl, feugiat vitae convallis eu</a></h3>
                    <p>Nulla nunc magna, fringillavitae mattis insuscipitausto. Fusce laoreet, velit non feugiat laoreet, sem massa convallis tellus, et rutrum velit erat.</p>
                </li>
                <li>
                    <h3><a href="#">Nunc ullamcorper, velit quis mattis eleifend </a></h3>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla tortor mauris, tempus in convallis in.</p>
                </li>
            </ul>
            <h3>Get In Touch</h3>
            <form action="#" method="post">
                <table>
                    <tr>
                        <td><input type="text" value="Name" onBlur="if(this.value==''){this.value=this.defaultValue;}" onFocus="if(this.value==this.defaultValue){this.value='';}" /></td>
                    </tr>
                    <tr>
                        <td><input type="text" value="Email" onBlur="if(this.value==''){this.value=this.defaultValue;}" onFocus="if(this.value==this.defaultValue){this.value='';}" /></td>
                    </tr>
                    <tr>
                        <td><textarea name="message" onBlur="if(this.value==''){this.value=this.defaultValue;}" onFocus="if(this.value==this.defaultValue){this.value='';}">Message</textarea></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="" class="button" /></td>
                    </tr>
                </table>
            </form>
        </div>
        <!-- end of sidebar -->
    </div>
    <!-- end of body wrapper -->
</div>
<div id="footer">
    <!-- start of footer part -->
    <div>
        <ul>
            <li><a href="#" class="fb">Facebook</a></li>
            <li><a href="#" class="twitr">Twitter</a></li>
        </ul>
        <span>Copyright &copy; <a href="#">Domain Name</a> - All Rights Reserved | Template By <a target="_blank" href="http://www.freewebsitetemplates.com/">FreeWebsiteTemplates.com</a></span> </div>
</div>
<!-- end of footer part -->

</template>