<template name="events">
<head>
    <title>Bikers Club | Events</title>
    <meta charset="iso-8859-1" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="page">
    <div id="header">
        <!-- start of header -->
        <ul>
            <li><a href="bikehome">home</a></li>
            <li><a href="/about">about</a></li>
            <li class="current"><a href="/events">events</a></li>
            <li><a href="/gallery">gallery</a></li>
            <li><a href="/blog">blog</a></li>
            <li><a href="/rdetails">members</a></li>
        </ul>
        <div> <a href="/register" class="join"></a>
            <h3>PROIN AC EUISMOD MI</h3>
            <p>Suspe disse vitae diam</p>
        </div>
    </div>
    <!-- end of header -->
    <div id="body">
        <div class="contents">
            <!-- start of content -->
            <h1>EVENTS</h1>
            <h2>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.</h2>
            <p> You can remove any link to our website from this website template, you're free to use this website template without linking back to us. You can use them to design websites for clients, so long as you agree with the Terms of Use. If you're having problems editing this website template, then don't hesitate to ask for help on the Forum. </p>
            <ul class="articles" >
                <li> <a href="#"><img src="/event-bikers.jpg"  width="208" height="148" alt=""></a>
                    <h3>Integer pellentesque diam eu nisi malesuada<br/>
                        Integer nec bibendum elit.Donec ut augue erat<br/>
                        Sept 21, 2011</h3>
                    <p>Sed sit amet odio est. Etiam eu dolor urna, ut pretium quam. Quisque ut nisi et nisi consectetur convallis. Integer dapibus pharetra purus, sed ornare mi euismod et. Vestibulum augue risus, ultrices ac imperdiet eu, commodo id erat. Integer arcu tellus, rhoncus in viverra nec, posuere vel urna.</p>
                </li>
                <li> <a href="#"><img src="/event-biker.jpg" width="208" height="148" alt=""></a>
                    <h3>Maecenas nec dolor nec eros congue placerat.<br/>
                        Fusce magna tortor, consequat ut rhoncus rutrum<br/>
                        Sept 27, 2011</h3>
                    <p>Sed sit amet odio est. Etiam eu dolor urna, ut pretium quam. Quisque ut nisi et nisi consectetur convallis. Integer dapibus pharetra purus, sed ornare mi euismod et. Vestibulum augue risus, ultrices ac imperdiet eu, commodo id erat. Integer arcu tellus, rhoncus in viverra nec, posuere vel urna.</p>
                </li>
                <li> <a href="#"><img src="/event-family.jpg" width="208" height="148" alt=""></a>
                    <h3> Ut tristique erat a lorem rutrum ut<br/>
                        sagittis mauris porttitor. Nulla sed turpis<br/>
                        Dec 25, 2011</h3>
                    <p>Sed sit amet odio est. Etiam eu dolor urna, ut pretium quam. Quisque ut nisi et nisi consectetur convallis. Integer dapibus pharetra purus, sed ornare mi euismod et. Vestibulum augue risus, ultrices ac imperdiet eu, commodo id erat. Integer arcu tellus, rhoncus in viverra nec, posuere vel urna.</p>
                </li>
            </ul>
            <!-- end of section -->
        </div>
    </div>
</div>
<div id="footer">
    <!-- start of footer part -->
    <div>
        <ul>
            <li><a href="#" class="fb">Facebook</a></li>
            <li><a href="#" class="twitr">Twitter</a></li>
        </ul>
        <span>Copyright &copy; <a href="#">Domain Name</a> - All Rights Reserved | Template By <a target="_blank" href="http://www.freewebsitetemplates.com/">FreeWebsiteTemplates.com</a></span> </div>
</div>
<!-- end of footer part -->
</body>
</template>
