<template name="gallery">
<head>
    <title>Bikers Club | Gallery</title>
    <meta charset="iso-8859-1" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="page">
    <div id="header">
        <!-- start of header -->
        <ul>
            <li><a href="bikehome">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/events">events</a></li>
            <li class="/current"><a href="/gallery">gallery</a></li>
            <li><a href="/blog">blog</a></li>
            <li><a href="/rdetails">members</a></li>
        </ul>
        <div> <a href="/register" class="join"></a>
            <h3>PROIN AC EUISMOD MI</h3>
            <p>Suspe disse vitae diam</p>
        </div>
    </div>
    <!-- end of header -->
    <div id="body">
        <div class="contents">
            <!-- start of content -->
            <h1>GALLERY</h1>
            <!-- start of gallery -->
            <div class="gallery">
                <ul>
                    <li> <a href="#"><img src="/gallery-girls.jpg"  width="280" height="190" alt=""></a>
                        <h4>Nam velitnisl tempus in biben dum vel varius sed nunc metus mattis</h4>
                        <p>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.</p>
                    </li>
                    <li> <a href="#"><img src="/gallery-family.jpg"  width="280" height="190" alt=""></a>
                        <h4>Aliquam sed lectusleo, eleifend ullam corper odio vehicula purus</h4>
                        <p>Mauris et turpis libero. Nam adipiscing nunc eu orci digniss.purus placerat. Nunc eleifend bibendum orci et placerat.</p>
                    </li>
                    <li> <a href="#"><img src="/gallery-biker.jpg"  width="280" height="190" alt=""></a>
                        <h4>Nulla posuere facilisis ante eu luctus. Vivamus rhoncus bibendum</h4>
                        <p>If you're having problems editing this website template, then don't hesitate to ask for help on the Forum.</p>
                    </li>
                    <li> <a href="#"><img src="/gallery-biker2.jpg"  width="280" height="190" alt=""></a>
                        <h4>Fringilla nisldonec at tellus nec ligula rutrum egestas eu ac ligula.</h4>
                        <p>Nunc eleifend bibendum orci et placerat. Fusce pretium leo vehicula nibh hendrerit vitae ullamcorper purus placerat.</p>
                    </li>
                    <li> <a href="#"><img src="/gallery-family2.jpg"  width="280" height="190" alt=""></a>
                        <h4>Proin a nisi et turpis sagittis imperdiet in eget nibh nisi lectus ultricies</h4>
                        <p>Mauris et turpis libero. Nam adipiscing nunc eu orci digniss.purus placerat. Nunc eleifend bibendum orci et placerat.</p>
                    </li>
                    <li> <a href="#"><img src="/gallery-boys.jpg"  width="280" height="190" alt=""></a>
                        <h4>Cras eget purus consect etur posuere pulvinar non elementum at ornare</h4>
                        <p>Vivamus molestie ultrices libero, vel aliquet mauris sollicitudin sit amet. In ac sem in libero vel turpis.consectetur</p>
                    </li>
                </ul>
            </div>
            <!-- end of section -->
        </div>
        <!-- end of contents -->
    </div>
    <!-- end of body wrapper -->
</div>
<div id="footer">
    <!-- start of footer part -->
    <div>
        <ul>
            <li><a href="#" class="fb">Facebook</a></li>
            <li><a href="#" class="twitr">Twitter</a></li>
        </ul>
        <span>Copyright &copy; <a href="#">Domain Name</a> - All Rights Reserved | Template By <a target="_blank" href="http://www.freewebsitetemplates.com/">FreeWebsiteTemplates.com</a></span> </div>
</div>
<!-- end of footer part -->
</body>
</template>
