<template name="student">

   <!-- <li class='{{#if checked}}checked{{/if}}'>
        <input type='checkbox' checked='{{checked}}' class='toggle-checked'> {{title}}, created at: {{createdAt}} <button class='delete'>Delete</button>
    </li>-->
    <tr >
        <!--<input type='checkbox' checked='{{checked}}' class='toggle-checked'>--> <!--{{title}}, <button class='delete'>Delete</button>-->
        <td>  <input name="checkbox" type='checkbox' checked='{{checked}}' class='toggle-checked'></td>
        <td>{{Fname}}  </td>
        <td>{{Lname}}</td>
        <td> {{email}}</td>
       <td ><button  class='delete'>Delete</button></td>



    </tr>



</template>
